body {
    background-color: #000;
    color: #fff;
}

.full-screen {
    border-radius: 13px;
    position: absolute;
    top: 20px;
    background: -moz-radial-gradient(center, ellipse cover, #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #45484d 0%,#000000 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #45484d 0%,#000000 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #45484d 0%,#000000 100%); /* W3C */
}

.tap-icon {
    font-size: 90px;
    color: white;
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    height: 100px;
}

.title {
    margin-left: 30px;
    display: block;
    margin-top: 30px;
}

.sub-title {
    margin: 10px 30px;
    font-size: 19px;
    color: #d3d3d3;
}

.icon-instruction {
    text-align: center;
}

.status-message {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}